   <h3>InventoryItem Details:</h3>
    <table>
	    
		<tr>
		<td>PRODUCTNAME</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-productName" value="<%= inventoryItem ? inventoryItem.get('productName') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>MEASUREMENTCATEGORY</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-measurementCategory" value="<%= inventoryItem ? inventoryItem.get('measurementCategory') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>MEASUREMENTQUANTITY</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-measurementQuantity" value="<%= inventoryItem ? inventoryItem.get('measurementQuantity') : '' %>"  />
        </td>
        </tr>
        
        
        
        <input type="text" class="inventoryItem-id" value="<%= inventoryItem ? inventoryItem.get('id') : '' %>" hidden />
        
		<tr>
		<td>PRODUCTID</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-productId" value="<%= inventoryItem ? inventoryItem.get('productId') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>TRACKINGCODE</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-trackingCode" value="<%= inventoryItem ? inventoryItem.get('trackingCode') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>QUANTITY</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-quantity" value="<%= inventoryItem ? inventoryItem.get('quantity') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>RECEIVEDDATE</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-receivedDate" value="<%= inventoryItem ? inventoryItem.get('receivedDate') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>EXPIRYDATE</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-expiryDate" value="<%= inventoryItem ? inventoryItem.get('expiryDate') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>PROMOTIONALOFFER</td>
		<td>:</td>
        <td>
        	<input type="text" class="inventoryItem-promotionalOffer" value="<%= inventoryItem ? inventoryItem.get('promotionalOffer') : '' %>"  />
        </td>
        </tr>
        
        
    
    </table>

    <input type="button" value="Save" id="<%= inventoryItem ? 'updateInventoryItem' : 'createInventoryItem' %>"/>
    <input type="button" value="Cancel" id="closeDetails"/>

    
