   <h3>Manufacturer Details:</h3>
    <table>
	    
        
        <input type="text" class="manufacturer-id" value="<%= manufacturer ? manufacturer.get('id') : '' %>" hidden />
        
		<tr>
		<td>NAME</td>
		<td>:</td>
        <td>
        	<input type="text" class="manufacturer-name" value="<%= manufacturer ? manufacturer.get('name') : '' %>"  />
        </td>
        </tr>
        
        
    
    </table>

    <input type="button" value="Save" id="<%= manufacturer ? 'updateManufacturer' : 'createManufacturer' %>"/>
    <input type="button" value="Cancel" id="closeDetails"/>

    
