   <h3>ProductMaster Details:</h3>
    <table>
	    
		<tr>
		<td>BRANDNAME</td>
		<td>:</td>
        <td>
        	<input type="text" class="productMaster-brandName" value="<%= productMaster ? productMaster.get('brandName') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>CATEGORYNAME</td>
		<td>:</td>
        <td>
        	<input type="text" class="productMaster-categoryName" value="<%= productMaster ? productMaster.get('categoryName') : '' %>"  />
        </td>
        </tr>
        
        
        
        <input type="text" class="productMaster-id" value="<%= productMaster ? productMaster.get('id') : '' %>" hidden />
        
		<tr>
		<td>BRANDID</td>
		<td>:</td>
        <td>
        	<input type="text" class="productMaster-brandId" value="<%= productMaster ? productMaster.get('brandId') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>CATEGORYID</td>
		<td>:</td>
        <td>
        	<input type="text" class="productMaster-categoryId" value="<%= productMaster ? productMaster.get('categoryId') : '' %>"  />
        </td>
        </tr>
        
        
		<tr>
		<td>NAME</td>
		<td>:</td>
        <td>
        	<input type="text" class="productMaster-name" value="<%= productMaster ? productMaster.get('name') : '' %>"  />
        </td>
        </tr>
        
        
    
    </table>

    <input type="button" value="Save" id="<%= productMaster ? 'updateProductMaster' : 'createProductMaster' %>"/>
    <input type="button" value="Cancel" id="closeDetails"/>

    
